<h1>Profile</h1>

email:
{{user.email}}
<br />
isAdmin:
{{user.isAdmin}}
<br />
<a href='/auth/administration'>See Admin Data<a>
<hr>
<a href='/products'>See products</a>
<hr>
<a href='/auth/logout'>LogOut!</a>