<div>
  <h1>Real Time Products</h1>
  <hr>
  <h2>Submit Product Form</h2>
  <form id="form-product">
    <div class="mb-3">
      <input
        class="form-control"
        type="text"
        placeholder="Product Name"
        id="title"
      />
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        type="text"
        placeholder="Product Description"
        id="description"
      />
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        type="number"
        placeholder="Product Price"
        id="price"
      />
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        type="text"
        placeholder="Product Thumbnail URL"
        id="thumbnail"
      />
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        type="text"
        placeholder="Product Code"
        id="code"
      />
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        type="number"
        placeholder="Product Stock"
        id="stock"
      />
    </div>
    <div class="mb-3">
      <label for="category">Category</label>
      
        <select name="category" id="category">
        <option value="Audio">Audio</option>
        <option value="Video">Video</option>
        <option value="Smartphones">Smartphones</option>
        <option value="Tecnología">Tecnología</option>
      </select>
      
    </div>
    <input type="submit" value="Add Product" class="btn btn-primary"/>
  </form>
  <br>
<h2>Product List</h2>
    <br />
    <ul id='list-products' class="list-group">
      <li class="list-group-item list-group-item-info">ID: {{id}}</li>
      <li class="list-group-item">Product: {{title}}</li>
      <li class="list-group-item">Price: {{price}}</li>
      <li class="list-group-item">Stock: {{stock}}</li>
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>