{{! HEADER }}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img
        src="https://github.com/Lauriacunia/desafio8-session/assets/63796774/b279eabe-dfac-48cb-8c4d-4a941ce1168e"
        width="70"
        style="max-height: max-content;"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if username}}
            <div
              style="display: flex;
                      align-items: center;"
            >
              <div>
                <h4 class="title is-4" style="margin-right: 15px;"> Hola
                  {{username}}</h4>
              </div>
              <div style="margin-right: 10px;">
                <a class="button is-info" onclick="goToCart()">
                  <strong>Cart</strong>
                </a>
              </div>
              <div style="margin-right: 10px;">
                <a class="button is-light" onclick="goToLogout()">
                  Logout
                </a>
              </div>

            </div>
          {{else}}
            <div>
              <a class="button is-primary" onclick="goToRegister()">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" onclick="goToLogin()">
                Log in
              </a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
{{! FORMULARIO DE CREACIN DE PRODUCTOS }}
{{! <section>
  <div class="container mt-6" style="max-width: 500px">
    <form action="/api/products" method="post" enctype="multipart/form-data">
      <h3 class="is-size-3 mb-5">Ingrese un nuevo producto</h3>
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="text"
            placeholder="Ingrese el nombre del producto"
            value=""
            name="title"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Descripci贸n</label>
        <div class="control has-icons-left has-icons-right">
          <textarea
            value=""
            name="description"
            class="textarea is-success"
            placeholder="Ingrese una breve descripci贸n del producto"
            rows="3"
          ></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">C贸digo</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="text"
            placeholder="Ingrese el c贸digo del producto"
            value=""
            name="code"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Precio</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="text"
            placeholder="Ingrese el precio del producto"
            value=""
            name="price"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Stock</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="number"
            min="0"
            max="10000"
            value="0"
            name="stock"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Categor铆a</label>
        <div class="control has-icons-left has-icons-right">
          <div class="select is-primary">
            <select name="category">
              <option value="Tecnolog铆a">Tecnolog铆a</option>
              <option value="Hogar">Hogar</option>
              <option value="Smartphones">Smartphones</option>
              <option value="Muebles">Muebles</option>
              <option value="Cosm茅tica y belleza">Cosm茅tica y belleza</option>
              <option value="Indumentaria">Indumentaria</option>
              <option value="Herramientas">Herramientas</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="file is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="thumbnail" />
            <span class="file-cta">
              <span class="file-icon">
                <ion-icon
                  name="cloud-upload-outline"
                  style="font-size: 25px"
                ></ion-icon>
              </span>
              <span class="file-label"> Sube una im谩gen </span>
            </span>
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-light">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</section> }}

{{! LISTA DE PRODUCTOS }}

<section class="mt-6">
  <div class="container is-flex is-flex-wrap-wrap" id="products-container">
  </div>
</section>
{{!PAGINATION  }}
<div id="pagination-container" style="margin:50px;"></div>

<script src="/js/home.js"></script>