<button class="button is-danger mt-3" onclick="location.href='/auth/login'">Ir a login</button>
<div class="container" style>
    <div class="field">
        <form action="/auth/register" method="post" class="control has-icons-left has-icons-right">
            <label class="label mt-6">Nuevo Usuario</label>
            <input type="text" name="username" placeholder="Crea un username" class="input is-success mt-3"></input>
            <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            <input type="password" name="password" placeholder="Ingresa una contraseña" class="input is-success mt-3"></input>
            <button type="submit"  class="button is-primary mt-3">Register</button>
        </form>
    </div>
</div>